.venv
documentation.aux
documentation.log
venv/
sql_to_nl/*.json
results_prov/
queries_with_prov/
latex_documentation/main.aux
latex_documentation/main.log
latex_documentation/main.bbl
latex_documentation/main.blg
artifacts/
src/tpch_queries.egg-info/
src/utils/__pycache__/
dpo_dataset/
models/
scripts/run_dpo_consecutive.sh
scripts/run_test_consec.sh
